<h1>topic index</h1>
<% @topics.each do |topic| %>
<ul>
  <li>
<%= topic %>
<%= link_to "Show", topic_path(topic) %>
<%= link_to "Edit", edit_topic_path(topic) %>
 <%= link_to topic_path(topic),
  method: :delete,
  data: { confirm: "Are you sure?" } do %>
  Delete
<% end %>
  </li>
</ul>

<% end %>

<%= link_to "add a new", new_topic_path %>
