<div class="head-show">
  <h1><%= @topic.text %></h1>
  <p>by <%= @topic.user.email %></p>
</div>

<div class="body-show">
  <div class="body-show-content">
    <p><%= @topic.description %></p>
  </div>
</div>

<div class="title-commentaire">
  <h2>Commentaires</h2>
</div>
<div class="container-commentaire">
  <div class="commentaire-content">
    <% @topic.answers.each do |answer| %>
      <strong><%= answer.user.email %></strong>
      <p><%= answer.description %>
      <%= link_to "Edit", edit_answer_path(answer) %>
      <%= link_to answer_path(answer),
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
      Delete
      <% end %>
      </p>
    <% end %>
  </div>
</div>




<div class="title-commentaire">
  <h2>Add a commentaire</h2>
</div>
<div class="container-commentaire">
  <div class="commentaire-content">
    <%= simple_form_for [@topic, @answer] do |f| %>
    <%= f.input :description %>
    <%= f.submit "add", class: "submit" %>
    <% end %>
  </div>
</div>
